pyobjc==7.0.1
pyobjc-core==7.0.1
pyobjc-framework-Accounts==7.0.1
pyobjc-framework-AddressBook==7.0.1
pyobjc-framework-AdSupport==7.0.1
pyobjc-framework-AppleScriptKit==7.0.1
pyobjc-framework-AppleScriptObjC==7.0.1
pyobjc-framework-ApplicationServices==7.0.1
pyobjc-framework-AuthenticationServices==7.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==7.0.1
pyobjc-framework-Automator==7.0.1
pyobjc-framework-AVFoundation==7.0.1
pyobjc-framework-AVKit==7.0.1
pyobjc-framework-BusinessChat==7.0.1
pyobjc-framework-CalendarStore==7.0.1
pyobjc-framework-CFNetwork==7.0.1
pyobjc-framework-CloudKit==7.0.1
pyobjc-framework-Cocoa==7.0.1
pyobjc-framework-Collaboration==7.0.1
pyobjc-framework-ColorSync==7.0.1
pyobjc-framework-Contacts==7.0.1
pyobjc-framework-ContactsUI==7.0.1
pyobjc-framework-CoreAudio==7.0.1
pyobjc-framework-CoreAudioKit==7.0.1
pyobjc-framework-CoreBluetooth==7.0.1
pyobjc-framework-CoreData==7.0.1
pyobjc-framework-CoreHaptics==7.0.1
pyobjc-framework-CoreLocation==7.0.1
pyobjc-framework-CoreMedia==7.0.1
pyobjc-framework-CoreMediaIO==7.0.1
pyobjc-framework-CoreML==7.0.1
pyobjc-framework-CoreMotion==7.0.1
pyobjc-framework-CoreServices==7.0.1
pyobjc-framework-CoreSpotlight==7.0.1
pyobjc-framework-CoreText==7.0.1
pyobjc-framework-CoreWLAN==7.0.1
pyobjc-framework-CryptoTokenKit==7.0.1
pyobjc-framework-DeviceCheck==7.0.1
pyobjc-framework-DictionaryServices==7.0.1
pyobjc-framework-DiscRecording==7.0.1
pyobjc-framework-DiscRecordingUI==7.0.1
pyobjc-framework-DiskArbitration==7.0.1
pyobjc-framework-DVDPlayback==7.0.1
pyobjc-framework-EventKit==7.0.1
pyobjc-framework-ExceptionHandling==7.0.1
pyobjc-framework-ExecutionPolicy==7.0.1
pyobjc-framework-ExternalAccessory==7.0.1
pyobjc-framework-FileProvider==7.0.1
pyobjc-framework-FileProviderUI==7.0.1
pyobjc-framework-FinderSync==7.0.1
pyobjc-framework-FSEvents==7.0.1
pyobjc-framework-GameCenter==7.0.1
pyobjc-framework-GameController==7.0.1
pyobjc-framework-GameKit==7.0.1
pyobjc-framework-GameplayKit==7.0.1
pyobjc-framework-ImageCaptureCore==7.0.1
pyobjc-framework-IMServicePlugIn==7.0.1
pyobjc-framework-InputMethodKit==7.0.1
pyobjc-framework-InstallerPlugins==7.0.1
pyobjc-framework-InstantMessage==7.0.1
pyobjc-framework-Intents==7.0.1
pyobjc-framework-IOSurface==7.0.1
pyobjc-framework-iTunesLibrary==7.0.1
pyobjc-framework-LatentSemanticMapping==7.0.1
pyobjc-framework-LaunchServices==7.0.1
pyobjc-framework-libdispatch==7.0.1
pyobjc-framework-LinkPresentation==7.0.1
pyobjc-framework-LocalAuthentication==7.0.1
pyobjc-framework-MapKit==7.0.1
pyobjc-framework-MediaAccessibility==7.0.1
pyobjc-framework-MediaLibrary==7.0.1
pyobjc-framework-MediaPlayer==7.0.1
pyobjc-framework-MediaToolbox==7.0.1
pyobjc-framework-Metal==7.0.1
pyobjc-framework-MetalKit==7.0.1
pyobjc-framework-ModelIO==7.0.1
pyobjc-framework-MultipeerConnectivity==7.0.1
pyobjc-framework-NaturalLanguage==7.0.1
pyobjc-framework-NetFS==7.0.1
pyobjc-framework-Network==7.0.1
pyobjc-framework-NetworkExtension==7.0.1
pyobjc-framework-NotificationCenter==7.0.1
pyobjc-framework-OpenDirectory==7.0.1
pyobjc-framework-OSAKit==7.0.1
pyobjc-framework-OSLog==7.0.1
pyobjc-framework-PencilKit==7.0.1
pyobjc-framework-Photos==7.0.1
pyobjc-framework-PhotosUI==7.0.1
pyobjc-framework-PreferencePanes==7.0.1
pyobjc-framework-PushKit==7.0.1
pyobjc-framework-Quartz==7.0.1
pyobjc-framework-QuickLookThumbnailing==7.0.1
pyobjc-framework-SafariServices==7.0.1
pyobjc-framework-SceneKit==7.0.1
pyobjc-framework-ScreenSaver==7.0.1
pyobjc-framework-ScriptingBridge==7.0.1
pyobjc-framework-SearchKit==7.0.1
pyobjc-framework-Security==7.0.1
pyobjc-framework-SecurityFoundation==7.0.1
pyobjc-framework-SecurityInterface==7.0.1
pyobjc-framework-ServiceManagement==7.0.1
pyobjc-framework-Social==7.0.1
pyobjc-framework-SoundAnalysis==7.0.1
pyobjc-framework-Speech==7.0.1
pyobjc-framework-SpriteKit==7.0.1
pyobjc-framework-StoreKit==7.0.1
pyobjc-framework-SyncServices==7.0.1
pyobjc-framework-SystemConfiguration==7.0.1
pyobjc-framework-SystemExtensions==7.0.1
pyobjc-framework-UserNotifications==7.0.1
pyobjc-framework-VideoSubscriberAccount==7.0.1
pyobjc-framework-VideoToolbox==7.0.1
pyobjc-framework-Vision==7.0.1
pyobjc-framework-WebKit==7.0.1
cffi==1.14.4
--no-binary cffi
pycparser==2.20
xattr==0.9.7
--no-binary xattr
