-r arrow.txt
-r asn1crypto.txt
-r aspy.yaml.txt
-r atomicwrites.txt
-r black.txt
-r boto.txt
-r docklib.txt
-r entrypoints.txt
-r flake8-bugbear.txt
-r funcsigs.txt
-r isort.txt
-r packaging.txt
-r pre-commit.txt
-r pyobjc.txt
-r pytest.txt
-r pytest-docker.txt
-r python-dotenv.txt
-r requests.txt
-r rsa.txt
-r slacker.txt
-r Sphinx.txt
-r tokenize-rt.txt
-r xattr.txt
